# dependencies
node_modules

# next.js
.next
out

# build output
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# env files
.env
.env*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.vscode

# OS
.DS_Store

# claude local files
.claude/ralph-loop.local.md
.vercel
